# Virtual environment directories
venv/

# Workspace directories
workspace/*
!workspace/.gitkeep
dftracer-agents.egg-info
dftracer_agents.egg-info/dependency_links.txt
dftracer_agents.egg-info/PKG-INFO
dftracer_agents.egg-info/requires.txt
dftracer_agents.egg-info/SOURCES.txt
dftracer_agents.egg-info/top_level.txt
/__pycache__/
*.pyc
*/.dftindex/*
*.sst
test/data/cm1_1_48_20240926/.dftindex/
outputs
.goose/secrets.yaml
