# Virtual environment directories
venv/

# Workspace directories
workspaces/*
!workspaces/.gitkeep
*.egg-info/
/__pycache__/
*.pyc
*/.dftindex/*
*.sst
test/data/cm1_1_48_20240926/.dftindex/
outputs
.goose/secrets.yaml
node_modules
.gitignore
package.json
build
venv-test
test/data/dftracer-sample
package-lock.json
workspaces/
resources/
.cache
.cargo-goose
*.core
/torchrun_hpc-scaffold_*/